# 1 . how many campaign available in this dataset .

In [4]:
a=dataset['campaign']
def f_total_c():
    q=0
    for i in a:
        q+=i
    return q
f_total_c()

12630

# 2 . how many users do we have with housing and personal loan .

In [5]:
w=dataset["housing"]

In [6]:
q=dataset["loan"]

In [21]:
ta=[]
for i in range(0,4521):
    if w[i]=="yes" and q[i]=="yes" :
        ta.append(i)
    else:
        pass
len(ta)

406

# 3. how many person do we have whose age is 60+ .

In [24]:
age=dataset["age"]

In [26]:
tb=[]
for i in age:
    if i>60:
        tb.append(i)
len(tb)

127

# 4 . in which month we have trageted most of the customer .

In [30]:
m=dataset["month"]

In [40]:
t1=[]
t2=[]
t3=[]
t4=[]
t5=[]
t6=[]
t7=[]
t8=[]
t9=[]
t10=[]
t11=[]
t12=[]

for i in m:
    if i=="jan":
        t1.append(i)
print("jan",len(t1))

t2=[]
for i in m:
    if i=="feb":
        t2.append(i)
print("feb",len(t2))

t3=[]
for i in m:
    if i=="mar":
        t3.append(i)
print("mar",len(t3))

t4=[]
for i in m:
    if i=="apr":
        t4.append(i)
print("apr",len(t4))


t5=[]
for i in m:
    if i=="may":
        t5.append(i)
print("may",len(t5))

t6=[]
for i in m:
    if i=="jun":
        t6.append(i)
print("jun",len(t6))

t7=[]
for i in m:
    if i=="jul":
        t7.append(i)
print("jul",len(t7))

t8=[]
for i in m:
    if i=="aug":
        t8.append(i)
print("aug",len(t8))


t9=[]
for i in m:
    if i=="sep":
        t9.append(i)
print("sep",len(t9))

t10=[]
for i in m:
    if i=="oct":
        t10.append(i)
print("oct",len(t10))

t11=[]
for i in m:
    if i=="nov":
        t11.append(i)
print("nov",len(t11))

t12=[]
for i in m:
    if i=="dec":
        t12.append(i)
print("dec",len(t12))

jan 148
feb 222
mar 49
apr 293
may 1398
jun 531
jul 706
aug 633
sep 52
oct 80
nov 389
dec 20

In [41]:
print("anser is may")

anser is may

# 5 . which mode of call is giving you more result

In [43]:
f=dataset["contact"]

In [44]:
t1=[]
t2=[]
for i in f:
    if i=="cellular":
        t1.append(i)
print("cellular",len(t1))
for i in f:
    if i=="unknown":
        t2.append(i)
print("unknown",len(t2))

cellular 2896
unknown 1324

In [46]:
print("cellular is the answer")

cellular is the answer

# 6 . how many enterpeures do we have in this list

In [48]:
e=dataset["job"]

In [50]:
t1=[]
for i in e :
    if i=="entrepreneur":
        t1.append(i)
print("entrepreneur",len(t1))

entrepreneur 168

# 7 . how many customers do we have with negative balance

In [51]:
n=dataset["balance"]

In [53]:
t1=[]
for i in n:
    if i<0:
        t1.append(i)
print("customers having negative balance:",len(t1))

customers having negative balance: 366

# 8. prepare a group of data based on education level .

In [54]:
edu=dataset["education"]

In [60]:
t1=[]
t2=[]
t3=[]
t4=[]
for i in edu :
    if i=="primary":
        t1.append(i)
print("primary",len(t1))

for i in edu :
    if i=="secondary":
        t2.append(i)
print("secondary",len(t2))

for i in edu :
    if i=="tertiary":
        t3.append(i)
print("tertiary",len(t3))

for i in edu :
    if i=="unknown":
        t4.append(i)
print("unknown",len(t4))

primary 678
secondary 2306
tertiary 1350
unknown 187

In [61]:
678+2306+1350+187

4521